<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Commentary - Review and Monitoring Website</title>
</head>
<body>
<%- include('../partials/header'); %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row" style="padding:10px">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right"style="margin-top:10px" onclick="addNewUser()"><i class="ti-plus"></i> Add Admin</button>
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Commentary List</h4>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
            <!-- /# row -->
            
            <!-- /# row -->
            <div id="data_comment" class="row">
                <!-- column -->
                <!-- column -->
            </div>
            <!-- /# row -->
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>
    $('#task_table').DataTable({
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
    });

    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;

                list_nn=[]
                //read data from firebase komentar
                firebase.database().ref("NN")
                    .once("value", function(snapshot) {

                    list_nn.push(String(snapshot.val().NN1).split(","))
                    list_nn.push(String(snapshot.val().NN2).split(","))
                    list_nn.push(String(snapshot.val().NN3).split(","))
                    list_nn.push(String(snapshot.val().NN4).split(","))
                    list_nn.push(String(snapshot.val().NN5).split(","))
                    list_nn.push(String(snapshot.val().NN6).split(","))
                    list_nn.push(String(snapshot.val().NN7).split(","))
                    list_nn.push(String(snapshot.val().NN8).split(","))
                    list_nn.push(String(snapshot.val().NN9).split(","))
                    list_nn.push(String(snapshot.val().NN10).split(","))
                    list_color=[]
                    // Generate 20 colors
                    for( var i = 20; i--; ){
                    var item = document.createElement('div')
                    item.style.cssText = `
                        display:inline-block; 
                        padding: 2em;
                        margin:5px; 
                        border-radius:50%;
                        background: ${getColor()};
                    `
                    list_color.push(getColor());
                    }

                    firebase.database().ref(site_name).child("komentar")
                    .on("child_added", function(snapshot) {
                        $("#data_comment").prepend(`<div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div id="NN_`+snapshot.key+`"></div>
                                    <h4 style="margin-bottom:40px">`+snapshot.val().data+`</h4>
                                    <span><i class="ti-user" style="color:blue;"></i> `+snapshot.val().user+`</span>
                                    <button class="btn btn-primary btn-rounded m-b-10 m-l-5 pull-right">`+stripHtml(snapshot.val().element)+`</button>
                                </div>
                            </div>
                        </div>`)
                        isExist=0
                        for(var i=0;i<list_nn.length;i++){
                            for(var ii=0;ii<list_nn[i].length;ii++){
                                if (snapshot.val().data.toString().toLowerCase().includes(list_nn[i][ii].toString().toLowerCase())){
                                    console.log(list_nn[i][ii].toString())
                                    $("#NN_"+snapshot.key).append(`<button type="button" class="btn btn-info btn-xs m-b-10 m-l-5" style="border-color:`+list_color[i]+`;background-color:`+list_color[i]+`;color:black">NN`+(i+1)+`</button>`);
                                    isExist=1
                                    break;
                                }
                            }
                        }
                        
                        if (isExist==0){
                            $("#NN_"+snapshot.key).append(`<button type="button" class="btn btn-info btn-xs m-b-10 m-l-5">Tidak ada</button>`);
                        }
                    });
                });
            });
        } else {
        }
    });
</script>
</body>
</html>