<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Review and Monitoring Website</title>
</head>
<body>
<%- include('../partials/header'); %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Free, <span>analisis dan monitoring Behavior User untik Website</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div id="main-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card" style="padding-bottom: 72px;">
                                    <div class="stat-widget-eight">
                                        <div class="stat-header">
                                            <div class="header-title pull-left">Most Comment Item</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="stat-content">
                                            <div class="pull-left">
                                                <i class="ti-comment-alt color-danger" style="font-size:30px"></i>
                                                <span id="most_comment" class="stat-digit" style="font-size:16px"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card" style="padding-bottom: 72px;">
                                    <div class="stat-widget-eight">
                                        <div class="stat-header">
                                            <div class="header-title pull-left">Total Users</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="stat-content">
                                            <div class="pull-left">
                                                <i class="ti-user color-success" style="font-size:30px"></i>
                                                <span id="total_user" class="stat-digit" style="font-size:16px"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="stat-widget-eight">
                                        <div class="stat-header">
                                            <div class="header-title pull-left">Progress</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="stat-content">
                                            <div class="pull-left">
                                                <i class="ti-arrow-up color-success"></i>
                                                <span id="progress_task_text" class="stat-digit" style="font-size:16px"> 70%</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                                <span id="progress_task" class="sr-only">70%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- column -->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Bar Chart</h4>
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                        <div class="row">
                            <!-- column -->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary pull-right"style="margin-top:10px" onclick="addTask()"><i class="ti-plus"></i> Add Task</button>
                                        </div>
                                        <h4 class="card-title">Task Request</h4>
                                        <div class="bootstrap-data-table-panel">
                                            <div class="table-responsive">
                                                <table  id="task_table" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Task Name</th>
                                                            <th>From</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <h4><b>Newest Commentary</b></h4>
                                    <!-- Loop Data -->
                                    <div id="loopKomen">

                                    </div>
                                    <!-- End Loop -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>
    // Morris bar chart
    Morris.Bar({
        element: 'morris-bar-chart',
        data: [{
            y: '2006',
            a: 100,
            b: 90,
            c: 60
        }, {
            y: '2007',
            a: 75,
            b: 65,
            c: 40
        }, {
            y: '2008',
            a: 50,
            b: 40,
            c: 30
        }, {
            y: '2009',
            a: 75,
            b: 65,
            c: 40
        }, {
            y: '2010',
            a: 50,
            b: 40,
            c: 30
        }, {
            y: '2011',
            a: 75,
            b: 65,
            c: 40
        }, {
            y: '2012',
            a: 100,
            b: 90,
            c: 40
        }],
        xkey: 'y',
        ykeys: ['a', 'b', 'c'],
        labels: ['A', 'B', 'C'],
        barColors:['#55ce63', '#8b67c9', '#009efb'],
        hideHover: 'auto',
        gridLineColor: '#eef0f2',
        resize: true
    });  
    var task_table = $('#task_table').DataTable({
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
    });
    
    var list_admin = []
    var email_from = "";
    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            email_from = user.email;
            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;

                //read data from firebase user
                firebase.database().ref(site_name).child("user")
                .on("child_added", function(snapshot) {
                    if ($("#total_user").html()==""){
                        total_user = 0
                    }
                    $("#total_user").html(parseInt(total_user)+1)
                    total_user++;
                });

                //read data from firebase komentar
                listElement = []
                firebase.database().ref(site_name).child("komentar")
                .on("child_added", function(snapshot) {
                    listElement.push(stripHtml(snapshot.val().element))

                    $("#most_comment").html(modeString(listElement)+" Button")
                    $("#loopKomen").prepend(`<div class="media">
                        <div class="media-left media-middle">
                            <i class="ti-id-badge f-s-48 color-danger m-r-15"></i>
                        </div>
                        <div class="media-body">
                            <h4>`+snapshot.val().user+`</h4>
                            <p>`+snapshot.val().data+`</p>
                        </div>
                    </div>`)
                });
                
                //read data from firebase
                firebase.database().ref("admin")
                .orderByChild("site")
                .equalTo(site_name).on("child_added", function(snapshot) {
                    list_admin.push({
                        "name" : snapshot.val().name,
                        "email" : snapshot.val().email,
                    });
                });

                //read data from firebase
                firebase.database().ref("task")
                .orderByChild("site")
                .equalTo(site_name).on("child_added", function(snapshot) {
                    if (email_from==String(snapshot.val().to)){
                        task_table.row.add([snapshot.val().task_name,snapshot.val().from,snapshot.val().date,snapshot.val().status,""]).draw()
                    }
                });
            });
        } else {
        }
    });

    function addTask(){
        data_admin="<option>Pilih Admin</option>"
        var index=0;
        list_admin.forEach(function(entry) {
            data_admin = data_admin+"<option value='"+index+"'>"+entry.name+"</option>"
            index++;
        });
        Swal.fire({
            title: 'Add Task Request',
            showDenyButton: true,
            denyButtonText: 'Cancel',
            confirmButtonText: 'Add',
            html:
            `<div class="form-group">
                <label for="exampleFormControlSelect2">Pilih Admin</label>
                <select class="form-control" id="ui_nama_user">
                `+data_admin+`
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Masukan Nama Task</label>
                <input type="text" class="form-control" id="ui_nama_task" aria-describedby="komentar" placeholder="Masukan Nama Task" />
            </div>`
        }).then((result) => {
            if (result.isConfirmed) {
                var index = $("#ui_nama_user").val()
                var task_name = $("#ui_nama_task").val()
                // Signed in
                firebase.database().ref("task").push({
                    "from": email_from,
                    "site":$("#site_name").html(),
                    "task_name":task_name,
                    "status":"progress",
                    "date": new Date().toLocaleString("sv-SE", {timeZone: "Asia/Jakarta"}),
                    "to": list_admin[index].email,
                    "to_name": list_admin[index].name
                }, (error) => {
                    if (error) {
                        // The write failed...
                        Swal.fire(
                            'Gagal menambahkan task baru',
                            '',
                            'error'
                        ).then((result) => {
                        })
                    } else {
                        // Data saved successfully!
                        Swal.fire(
                            'Sukses menambahkan task baru',
                            '',
                            'success'
                        ).then((result) => {
                            window.location="./"
                        })
                    }
                });
            }
        });
        
    }
</script>
</body>
</html>