<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Login - Review and Monitoring Website</title>
</head>
<body class="bg-primary">

<div class="unix-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="./"><span>My Review and Monitoring</span></a>
                    </div>
                    <div class="login-form">
                        <h4>Login</h4>
                        <form>
                            <div class="form-group">
                                <label>Email address</label>
                                <input id="email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="pass" type="password" class="form-control" placeholder="Password">
                            </div>
                            <button id="login_btn" type="button" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>    
    $( "#login_btn" ).click(function() {
        firebase.auth().signInWithEmailAndPassword($( "#email" ).val(), $( "#pass" ).val())
        .then((user) => {
            // Signed in
            // ...
        })
        .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            Swal.fire(
                "Error Login",
                errorMessage,
                'error'
            )
        });
    });
</script>
</body>
</html>