<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Rating - Review and Monitoring Website</title>
</head>
<body>
<%- include('../partials/header'); %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row" style="padding:10px">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right"style="margin-top:10px" onclick="addNewUser()"><i class="ti-plus"></i> Add Admin</button>
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Rating List</h4>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
            <!-- /# row -->
            <div id="data_rating" class="row">
                <!-- column -->
                
                <!-- column -->
            </div>
            <!-- /# row -->
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>
    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;

                list_nn=[]
                //read data from firebase komentar
                

                firebase.database().ref(site_name).child("penilaian")
                .on("child_added", function(snapshot) {
                    $("#data_rating").prepend(`
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-primary btn-rounded m-b-10 m-l-5 pull-right">`+stripHtml(snapshot.val().element)+`</button>
                                <h4 style="margin-bottom:20px;font-size:42px">`+snapshot.val().data+`</h4>
                                <h2 id="star_`+snapshot.key+`"></h2>
                                <span><i class="ti-user" style="color:blue;"></i> `+snapshot.val().user+`</span>
                            </div>
                        </div>
                    </div>`)

                    if (snapshot.val().data<3){
                        for (var i=0;i<snapshot.val().data;i++){
                            $("#star_"+snapshot.key).append(`<i class="ti-star" style="color:red"></i>`)
                        }
                    } else if (snapshot.val().data<4){
                        for (var i=0;i<snapshot.val().data;i++){
                            $("#star_"+snapshot.key).append(`<i class="ti-star" style="color:#F7C600"></i>`)
                        }
                    } else if (snapshot.val().data<=5){
                        for (var i=0;i<snapshot.val().data;i++){
                            $("#star_"+snapshot.key).append(`<i class="ti-star" style="color:green"></i>`)
                        }
                    }
                });
            });
        } else {
        }
    });
</script>
</body>
</html>