<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>User List - Review and Monitoring Website</title>
</head>
<body>
<%- include('../partials/header'); %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row" style="padding:10px">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right"style="margin-top:10px" onclick="addNewUser()"><i class="ti-plus"></i> Add Admin</button>
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Admin List</h4>
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table  id="admin_table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>User ID</th>
                                                <th>Profesi</th>
                                                <th>Email</th>
                                                <th>Last Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4 class="card-title" style="margin-top: 30px;">User List</h4>
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table  id="user_table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
            <!-- /# row -->
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>
    var admin_table = $('#admin_table').DataTable({
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
    });
    var user_table = $('#user_table').DataTable({
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
    });

    //login checker
    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;

                //read data from firebase
                firebase.database().ref("admin")
                .orderByChild("site")
                .equalTo(site_name).on("child_added", function(snapshot) {
                    admin_table.row.add([snapshot.val().name,snapshot.val().uid,snapshot.val().profesi,snapshot.val().email,snapshot.val().last_active]).draw()
                });

                //read data from firebase
                firebase.database().ref(site_name+"/user")
                .on("child_added", function(snapshot) {
                    user_table.row.add([snapshot.val().nama,snapshot.val().email]).draw()
                });
            });
        } else {
        }
    });
</script>
</body>
</html>