<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>UX - Review and Monitoring Website</title>
</head>
<body>
<%- include('../partials/header'); %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row" style="padding:4px">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Today's  trends</h4>
                            <div id="morris-line-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Received Today</h4>
                            <span id="received"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Average End User Mode Time</h4>
                            <span id="avg_user_time"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Average Review Mode Time</h4>
                            <span id="avg_review_time"></span>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Top Click</h4>
                            <ul id="data_top_click" class="list-inline text-right">
        
                            </ul>
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <div id="data_rating" class="row">
                <!-- column -->
                
                <!-- column -->
            </div>
            <!-- /# row -->
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
<script>
    function generateTopClick(list_click){
        list_click = list_click.sort(function(a, b){return b.value - a.value});
        list_append = [];
        list_label = [];
        list_color = ['#55ce63', '#009efb', '#8b67c9'];
        $("#morris-donut-chart").empty();
        $("#data_top_click").html(``);
        for (var index=0;index<3;index++){
            list_append.push(list_click[index]);
            $("#data_top_click").append(`
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color:`+list_color[index]+`"></i>`+list_click[index].label+`</h5>
                </li>`);
        }

        Morris.Donut({
            element: 'morris-donut-chart',
            data: list_append,
            resize: true,
            colors:list_color
        });
    }

    function todayTrends(today_list){
        today_list = today_list.sort(function(a, b){return a.x - b.x});
        for (var index=0; index < today_list.length; index++) {
            if (!today_list[index].x.includes(":00")){
                today_list[index].x = today_list[index].x+":00";
            }
        }
        $("#morris-line-chart").empty();
        var line = new Morris.Line({
          element: 'morris-line-chart',
          resize: false,
          data: today_list,
          xkey: 'x',
          ykeys: ['y'],
          parseTime: false,
          xLabels: 'Hours',
          labels: ['Jumlah Penilaian'],
          gridLineColor: '#eef0f2',
          lineColors: ['#009efb'],
          lineWidth: 1,
          smooth: true,
          hideHover: 'auto'
        });
    }

    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;



                //read data from top click
                var listClick=[];
                var listLabel=[];
                firebase.database().ref(site_name).child("click")
                .on("child_added", function(snapshot) {
                    /*
                    $("#data_rating").prepend(`
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-primary btn-rounded m-b-10 m-l-5 pull-right">`+stripHtml(snapshot.val().element)+`</button>
                                <h4 style="margin-bottom:20px;font-size:42px">`+snapshot.val().data+`</h4>
                                <h2 id="star_`+snapshot.key+`"></h2>
                                <span><i class="ti-user" style="color:blue;"></i> `+snapshot.val().user+`</span>
                            </div>
                        </div>
                    </div>`)
                    */
                    var index = 0
                    for (; index < listClick.length; ++index) {
                        if (listClick[index].label==stripHtml(snapshot.val().element) && listClick[index].page==snapshot.val().page){
                            listClick[index].value = listClick[index].value+1
                            break;
                        }
                    }
                    if (index==listClick.length){
                        listClick.push({
                            "label" : stripHtml(snapshot.val().element),
                            "page" : snapshot.val().page,
                            "value" : 1
                        })
                        listLabel.push(stripHtml(snapshot.val().element));
                    }
                    generateTopClick(listClick);
                });


                //read data today trends
                var jumlah_received=0;
                var dateNow = new Date().toLocaleString("sv-SE", {timeZone: "Asia/Jakarta"});
			    dateNow = dateNow.split(" ")[0];
                firebase.database().ref(site_name).child("komentar")
                .on("child_added", function(snapshot) {
                    var dateFire = snapshot.val().date.split(" ")[0];
                    if(dateFire==dateNow){
                        jumlah_received = jumlah_received + 1
                    }
                    $("#received").html(jumlah_received+" Penilaian & Komentar")
                });
                firebase.database().ref(site_name).child("penilaian")
                .on("child_added", function(snapshot) {
                    var dateFire = snapshot.val().date.split(" ")[0];
                    if(dateFire==dateNow){
                        jumlah_received = jumlah_received + 1
                    }
                    $("#received").html(jumlah_received +" Penilaian & Komentar")
                });


                //avg user time
                list_date_user = [];
                sum_time_user = 0;
                firebase.database().ref(site_name).child("time_user")
                .on("child_added", function(snapshot) {
                    var index = 0
                    for (; index < list_date_user.length; ++index) {
                        var dateFire = snapshot.val().date.split(" ")[0];
                        var date = list_date_user[index].split(" ")[0];
                        if (date==dateFire){
                            break;
                        }
                    }
                    if (index==list_date_user.length){
                        list_date_user.push(snapshot.val().date);
                    }
                    sum_time_user = sum_time_user + snapshot.val().time_second
                    $("#avg_user_time").html((sum_time_user/list_date_user.length).toFixed(2)+" Second")
                });

                //avg review time
                list_date_review = [];
                sum_time_review = 0;
                firebase.database().ref(site_name).child("time_review")
                .on("child_added", function(snapshot) {
                    var index = 0
                    for (; index < list_date_review.length; ++index) {
                        var dateFire = snapshot.val().date.split(" ")[0];
                        var date = list_date_review[index].split(" ")[0];
                        if (date==dateFire){
                            break;
                        }
                    }
                    if (index==list_date_review.length){
                        list_date_review.push(snapshot.val().date);
                    }
                    sum_time_review = sum_time_review + snapshot.val().time_second
                    $("#avg_review_time").html((sum_time_review/list_date_review.length).toFixed(2)+" Second")
                });

                //today trends
                list_penilaian = [];
                firebase.database().ref(site_name).child("penilaian")
                .on("child_added", function(snapshot) {
                    var index = 0
                    for (; index < list_penilaian.length; ++index) {
                        var dateFire = snapshot.val().date.split(" ")[0];
                        var date = list_penilaian[index].date.split(" ")[0];
                        if (date==dateFire){
                            //append time
                            timeFire = snapshot.val().date.split(" ")[1].split(":")[0];
                            time = list_penilaian[index].date.split(" ")[1].split(":")[0];
                            if (time==timeFire){
                                list_penilaian[index].y = list_penilaian[index].y +1
                                break;
                            }
                        }
                    }
                    if (index==list_penilaian.length){
                        list_penilaian.push({
                            "date": snapshot.val().date,
                            "x": snapshot.val().date.split(" ")[1].split(":")[0],
                            "y": 1
                        });
                    }
                    todayTrends(list_penilaian);
                });
                
            });
        } else {
        }
    });
</script>
</body>
</html>