<script src="assets/js/lib/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="assets/js/lib/menubar/sidebar.js"></script>
<script src="assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<script src="assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="assets/js/lib/weather/weather-init.js"></script>
<script src="assets/js/lib/circle-progress/circle-progress.min.js"></script>
<script src="assets/js/lib/circle-progress/circle-progress-init.js"></script>
<script src="assets/js/lib/chartist/chartist.min.js"></script>
<script src="assets/js/lib/chartist/chartist-init.js"></script>
<script src="assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
<script src="assets/js/lib/sparklinechart/sparkline.init.js"></script>
<script src="assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="assets/js/lib/owl-carousel/owl.carousel-init.js"></script>

<script src="assets/js/lib/morris-chart/raphael-min.js"></script>
<script src="assets/js/lib/morris-chart/morris.js"></script>
<script src="assets/js/lib/data-table/datatables.min.js"></script>

<script>
    var site_name = "";

    function getDateNow(){
        var date = new Date();
        var dateStr =
        date.getFullYear() + "-" +
        ("00" + date.getDate()).slice(-2) + "-" +
        ("00" + (date.getMonth() + 1)).slice(-2) + " " +
        ("00" + date.getHours()).slice(-2) + ":" +
        ("00" + date.getMinutes()).slice(-2) + ":" +
        ("00" + date.getSeconds()).slice(-2);
        return dateStr;
    }

    function stripHtml(html)
    {
        let tmp = document.createElement("DIV");
        tmp.innerHTML = html;
        return tmp.textContent || tmp.innerText || "";
    }

    function getColor(){ 
        return "hsl(" + 360 * Math.random() + ',' +
                (25 + 70 * Math.random()) + '%,' + 
                (85 + 10 * Math.random()) + '%)'
    }

    function modeString(array) {
        if (array.length == 0) return null;

        var modeMap = {},
            maxEl = array[0],
            maxCount = 1;

        for (var i = 0; i < array.length; i++) {
            var el = array[i];

            if (modeMap[el] == null) modeMap[el] = 1;
            else modeMap[el]++;

            if (modeMap[el] > maxCount) {
            maxEl = el;
            maxCount = modeMap[el];
            } else if (modeMap[el] == maxCount) {
            maxEl += "&" + el;
            maxCount = modeMap[el];
            }
        }
        return maxEl;
    }

    function addNewUser(){
        Swal.fire({
            title: 'Register New User',
            showDenyButton: true,
            denyButtonText: 'Cancel',
            confirmButtonText: 'Add',
            html:
            `<div class="form-group">
                <label for="exampleInputEmail1">Masukan Nama</label>
                <input type="text" class="form-control" id="ui_nama_user" aria-describedby="komentar" placeholder="Masukan Nama" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Masukan Pekerjaan</label>
                <input type="text" class="form-control" id="ui_pekerjaan_user" aria-describedby="komentar" placeholder="Masukan Pekerjaan" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Masukan Email</label>
                <input type="email" class="form-control" id="ui_email_user" aria-describedby="komentar" placeholder="Masukan Email" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Masukan Passowrd</label>
                <input type="password" class="form-control" id="ui_password_user" aria-describedby="komentar" placeholder="Masukan Password" />
            </div>`
        }).then((result) => {
            if (result.isConfirmed) {
                var name = $("#ui_nama_user").val()
                var email = $("#ui_email_user").val()
                var profesi = $("#ui_pekerjaan_user").val()
                firebase.auth().createUserWithEmailAndPassword($("#ui_email_user").val(), $("#ui_password_user").val())
                .then((userData) => {
                    // Signed in
                    firebase.database().ref("admin").push({
                        "name": name,
                        "email": email,
                        "profesi": profesi,
                        "site":$("#site_name").html(),
                        "uid": userData.user.uid
                    }, (error) => {
                        if (error) {
                            // The write failed...
                            Swal.fire(
                                'Gagal menambahkan user baru',
                                '',
                                'error'
                            ).then((result) => {
                            })
                        } else {
                            // Data saved successfully!
                            Swal.fire(
                                'Sukses menambahkan user baru',
                                '',
                                'success'
                            ).then((result) => {
                                window.location="./user_list"
                            })
                        }
                    });
                })
                .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    Swal.fire(
                        'Gagal menambahkan user baru',
                        errorMessage,
                        'error'
                    ).then((result) => {
                    })
                });
            }
        });
    }

    //login checker
    var title = "<%= title %>";
    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            // User is signed in, see docs for a list of available properties
            // https://firebase.google.com/docs/reference/js/firebase.User
            
            //check valid admin
            if (title=="login"){
                window.location="./"
            }
            $("#auth_name").html(user.email)

            var uid = user.uid;
            var site_ref = firebase.database().ref("admin")
                .orderByChild("uid")
                .equalTo(uid).on("child_added", function(snapshot) {
                site_name =snapshot.val().site;
                $("#site_name").html(site_name)
                
                firebase.database().ref("admin").child(snapshot.key).update({
                    "last_active": getDateNow()
                });

            });
        } else {
            // User is signed out
            // ...
            if (title!="login"){
                window.location="./login"
            }
        }
    });


    $(".logout_btn").click(function() {
        firebase.auth().signOut().then(() => {
            // Sign-out successful.
            window.location="./login"
        }).catch((error) => {
            // An error happened.
        });
    });
</script>