<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li <% if (title === 'index') { %>class="active" <% } %> ><a href="./"><i class="ti-view-list-alt"></i> Dashboard </a></li>
                <li <% if (title === 'user_list') { %>class="active" <% } %> ><a href="./user_list"><i class="ti-user"></i> User List </a></li>
                <li <% if (title === 'user_commentary') { %>class="active" <% } %>><a href="./user_commentary"><i class="ti-comments"></i> User Commentary </a></li>
                <li <% if (title === 'user_rating') { %>class="active" <% } %>><a href="./user_rating"><i class="ti-star"></i> User Rating </a></li>
                <li <% if (title === 'user_heatmap') { %>class="active" <% } %>><a href="./user_heatmap"><i class="ti-desktop"></i> Heatmaps </a></li>
                <li <% if (title === 'ui_ux') { %>class="active" <% } %>><a href="./ui_ux"><i class="ti-unlock"></i> UI/UX Rating </a></li>
                <li class="logout_btn"><a><i class="ti-close"></i> Logout</a></li>
                <li class="label">Support</li>
                <li <% if (title === 'support') { %>class="active" <% } %>><a href="./support"><i class="ti-help"></i> Support </a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->


<div class="header">
    <div class="pull-left">
        <div class="logo"><a href="./"><!-- <img src="assets/images/logo.png" alt="" /> --><span>My Review and Monitoring</span></a></div>
        <div class="hamburger sidebar-toggle">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="logo"><a><!-- <img src="assets/images/logo.png" alt="" /> --><span id="site_name"></span></a></div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib"><img class="avatar-img" src="assets/images/avatar/1.jpg" alt="" /> <span id="auth_name" class="user-avatar"></span>
                <div class="drop-down dropdown-profile">
                    <div class="dropdown-content-body">
                        <ul>
                            <li><a href="#"><i class="ti-user"></i> <span>Profile</span></a></li>
                            <li><a class="logout_btn" href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>